:root
  --select-border: #777
  --select-focus: blue
  --select-arrow: var(--select-border)

@mixin displayFlex($flexDire,$justifyCont,$alingItem)
  display: flex
  flex-direction: $flexDire
  justify-content: $justifyCont
  align-items: $alingItem

@mixin buttonStyle()
  background: none
  border: none
  border-radius: .5rem
  cursor: pointer
@keyframes popupFadeIn
  from
    opacity: 0

  to
    opacity: 1

@keyframes popupFadeOut
  from
    opacity: 1

  to
    opacity: 0

@keyframes rotation
  from
    transform: rotate(0deg)

  to
    transform: rotate(-90deg)

*
  font-family: 'Inter', sans-serif
  margin: 0
  padding: 0
  box-sizing: border-box
.navbar-collapse
  justify-content: flex-end !important
.dropdown-menu
  border: none
  button
    margin-top: 1rem
    width: 100%

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active
  background: none
  color: black
.dropdown-toggle
  border: none
  background: none
  &::after
    display: none
  &:hover
    background: none
    color: black
  &:first-child:active, :not(.btn-check)+.btn:active
    background: none
    color: black
.popup
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: 99
  background-color: rgba(0, 0, 0, 0.2)
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
  animation: popupFadeIn 0.3s ease-out forwards

  display: flex
  align-items: center
  justify-content: center
  animation: popupFadeIn 0.3s ease-out forwards

.popupOtions
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 1rem
  position: fixed
  background-color: #fff
  border: 1px solid #ccc
  padding: 30px
  border-radius: .5rem
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)

  .optionPopup
    button
      margin: 0 30px
      padding: .5rem 3rem
      color: #fff
      border: none
      border-radius: 3px
      cursor: pointer
      transition: .3s
      &:first-of-type
        background-color: red
        &:hover
          background-color: #e75d5d
      &:last-child
        background-color: green
        &:hover
          background-color: #05b635

.popup2
  background: #fff
  border-radius: 1rem
  box-shadow: 4px 4px 14px #474747
  padding: 2rem
  display: flex
  flex-direction: column
  width: 25%
  @media only screen and (max-width: 1200px)
    width: 50%
  @media only screen and (max-width: 900px)
    width: 65%
  @media only screen and (max-width: 900px)
    width: 80%
  .popup-close
    display: flex
    justify-content: flex-end
    text-decoration: none
    color: black

  .inicio-registro
    margin-top: 1rem
    width: 100%
    display: flex
    justify-content: space-around
    button
      cursor: pointer
      width: 100%
      background: none
      border: none
      font-size: 1.1rem
      font-weight: 400

      &:focus
        background-color: #bb1e26
        color: white
  .inicio-sesion
    display: flex
    flex-direction: column
    span
      color: #bb1e26
      font-size: .8rem
    label
      margin-top: 1rem
    input
      height: 2rem
      padding-left: 5px
    a
      font-size: .7rem
      margin-top: 5px
      text-decoration: none
      color: black
      cursor: pointer
    div
      margin: 1rem 0
      display: flex
      flex-direction: row
    #submitIS
      margin-top: 1rem
      border-radius: 5px
      border: none
      background: #bb1e26
      color: white
      font-size: 1rem


.success,.cancel
  height: 100vh
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  text-align: center
  a
    text-decoration: none
    background-color: #bb1e26
    color: white
    margin-top: 2rem
    border: none
    box-shadow: 0 0 20px 10px salmon
    font-size: 1.3rem
    border-radius: .4rem
    padding: 1rem 3rem
  h1
    font-size: 3rem

.fa-star, .fa-star-half
  color: gold

.fa-heart
  color: #bb1e26
